@font-face {
    font-family:BeVietnam;
    src: url("../assets/FONTS/BeVietnam-Regular.ttf") format("truetype");
}

@font-face {
    font-family:BeVietnam-Thin;
    src: url("../assets/FONTS/BeVietnam-Thin.ttf") format("truetype");
}

@font-face {
    font-family:BeVietnam-Bold;
    src: url("../assets/FONTS/BeVietnam-Bold.ttf") format("truetype");
}