.column_fields {
    margin-top:5%;
    float: left;
    width: 50%;
  }


  
  /* Clear floats after the columns */
.row_register:after {
    content: "";
    display: table;
    clear: both;
}


.column_register {
    float: left;
    width: 20%;
  }


.column_register h1{
    color: white;
    font-size: 200%;
    margin-top: 80%;
}


  .column_register2 {
    float: left;
    width: 80%;
    background-color: white;
  }
  
  /* Clear floats after the columns */
.row_register:after {
    content: "";
    display: table;
    clear: both;
}

.image_left_register{
    width: 111%;
    margin-top: -25%;
    margin-left: -11%;
}

.logo_register{
    width: 70%;
    margin-top:5%;
    margin-bottom: 2%;

}

h1{
    font-size: 300%;
    font-family: 'BeVietnam';
    margin-bottom: auto;
    margin-top: auto;

}

h2{
    font-family: 'BeVietnam-Thin';
    font-size: 110%;
    margin-bottom: 2%;
}

.salto_linea{
    display: block;
    color: white;
}

.sparcing_register{
    padding-left: 15%;
}

.form_title{

    color: gray;
    font-size: 80%;
}
.form_input_register{
    font-family: 'BeVietnam-Thin';
    background: transparent;
    border: none;
    border-bottom: 1px solid gray !important;
    color: #242630;
    display: block;
    margin-bottom: 5%;
    width: 80%;
    padding:10px;
    font-size: 80%
}

.form_input_register::placeholder{
    font-size: 100%;

}

.button_register{
        margin-top: 5% !important;
        font-family: 'BeVietnam';
        background-color: #ff6584;
        border: none;
        color: white;
        padding: 20px;
        width: 40%;
        border-radius: 12px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: auto;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20%;

}


.button_center{
    margin-left: auto;
    margin-right: auto;
}