
.column_register {
    float: left;
    width: 20%;
  }


  .column_register2 {
    float: left;
    width: 80%;
    background-color: white;
  }
  
  /* Clear floats after the columns */
.row_register:after {
    content: "";
    display: table;
    clear: both;
}

.image_left_register{
    width: 111%;
    margin-top: -25%;
    margin-left: -11%;
}

.logo{
    width: 30%;
    margin-top:5%;
    margin-bottom: 2%;

}
h1{
    font-size: 300%;
    font-family: 'BeVietnam';
    margin-bottom: auto;
    margin-top: auto;

}

h2{
    font-family: 'BeVietnam-Thin';
    font-size: 110%;
    margin-bottom: 2%;
}

.salto_linea{
    display: block;
    color: white;
}

.sparcing_register{
    padding-left: 15%;
}

.form_input_register{
    font-family: 'BeVietnam-Thin';
    background: transparent;
    border: none;
    border-bottom: 1px solid #7c7d80 !important;
    color: #242630;
    display: block;
    margin-bottom: 5%;
    width: 20%;
    padding:10px;
    font-size: 80%
}

.form_input::placeholder{
    font-size: 100%;

}

.button_register{
        margin-top: 5% !important;
        font-family: 'BeVietnam';
        background-color: #ff6584;
        border: none;
        color: #002C3D;
        padding: 20px;
        width: 55%;
        border-radius: 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        font-weight: bold;
}